<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC1ED15E1BE29572007C09D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC1ED1751BE29572007C09D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC1ED1801BE29572007C09D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
